%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{deps, [
   {seqbind, ".*", {git, "https://github.com/lpgauth/seqbind.git", "HEAD"}},
   {erlando, ".*", {git, "https://github.com/travelping/erlando.git", "HEAD"}},
   {gin,     ".*", {git, "https://github.com/mad-cocktail/gin.git", "HEAD"}},
   {mead,    ".*", {git, "https://github.com/mad-cocktail/mead.git", "HEAD"}},
   {poolboy, ".*", {git, "https://github.com/devinus/poolboy.git", "HEAD"}},

   {proper, ".*", {git, "https://github.com/manopapad/proper.git", "HEAD"}},
   {emark,  ".*", {git, "https://github.com/spawnfest/emark.git", "HEAD"}},
   
   {lists2,  ".*", {git, "https://github.com/arcusfelis/lists2.git", "HEAD"}}

%  {erlubi, ".*", {git, "git://github.com/krestenkrab/erlubi.git", "HEAD"}},
]}.

%% == Plugins ==


{plugins, []}.



%% == Options ==
{edoc_opts, [{src_path, ["src/"]}, {subpackages, true}]}.

{erl_opts, [bin_opt_info]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

{cover_enabled, true}.


%% == Cleanup ==

%% Which files to cleanup
{clean_files, ["priv/test_db", "*.o", "priv/*.so", "priv/*.dll",
               "c_src/*/*.gch",      "c_src/*/*.gcov",     "c_src/*/*.o",
               "*c_src/*/*.gcda",    "c_src/*/*.gcno",     
                                                           
               "c_src/*/*/*.gch",    "c_src/*/*/*.gcov",   "c_src/*/*/*.o",
               "c_src/*/*/*.gcda",   "c_src/*/*/*.gcno",  

               "c_src/*/*/*/*.gch",  "c_src/*/*/*/*.gcov", "c_src/*/*/*/*.o",
               "c_src/*/*/*/*.gcda", "c_src/*/*/*/*.gcno"
               ]}.


%% == Ports ==
%%

{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "make -C c_src"},
   {"(freebsd|openbsd)", compile, "gmake -C c_src"}]}.
{post_hooks,
  [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
   {"(freebsd|openbsd)", clean, "gmake -C c_src clean"}]}.


